@use "sass:math";
@import '../sass/variables.scss';

.KeyValueItem {
}

.KeyValueItem > p.name {
  margin: 0 0 math.div($spacer, 4);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: default;
  color: $gray-600;
  line-height: 1;
  font-size: $font-size-sm;
}

.KeyValueItem > .value {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div:first-child {
    min-width: 0;
    flex: 1 1 auto;
    display: flex;

    a,
    input {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: $font-size-sm;
      font-family: $font-family-monospace;
      line-height: 1.5rem;
    }
    input {
      display: block;
      padding: 0;
      width: 100%;
      border: none;
      color: $gray-400;
      background: transparent;
      height: 1.5rem;
    }
  }
  & > div:last-child {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    span.status {
      margin-left: $spacer;
      font-size: 0.75rem;
      color: $orange-300;
    }

    .Button {
      border: none;
      display: block;
      line-height: 1;
      padding: 0.25 * $spacer 0 0.25 * $spacer $spacer;

      svg { vertical-align: 0; }

      &.copied {
        padding-left: 0.4 * $spacer;
      }
    }
  }
}
