@use "sass:math";
@import '../sass/variables.scss';

.PayloadForm {
  & > div {
    margin-bottom: 0.5 * $spacer;

    label {
      margin: 0 0 math.div($spacer, 2);
      text-transform: uppercase;
      cursor: default;
      color: $gray-600;
      line-height: 1;
      font-size: $font-size-sm;
    }
  }

  button {
    display: block;
    width: 100%;
  }

  input,
  textarea {
    font-family: $font-family-monospace;
  }
}
