@import '~bootstrap/scss/functions';
@import '../sass/variables.scss';

.RuntimeLogsPanel {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}

.RuntimeLogsPanel > .header {
  padding: 0.25rem 0.75rem;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > span {
    margin-top: 1px;
    cursor: default;
    color: $gray-600;
    font-weight: bold;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  & > button {
    padding-right: 0;
  }
}

.RuntimeLogsPanel > .content {
  padding: 0.625 * $spacer 0;
  flex: 1;
  overflow: auto;
  background: tint-color($black, 5%);

  & > pre,
  & > .error,
  & > .loading {
    margin: 0 0.75rem;
  }

  & > .error {
    color: $gray-600;
  }
  & > .loading {
    margin: 0 0.75rem;
    color: $light;
    font-size: $font-size-sm;
    font-family: $font-family-monospace;
  }
  & > .LoadingSpinner {
    height: 100%;
    display: flex;
    align-items: center;

    .spinner {
      margin: 0 auto;
    }
  }

  & > pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
