@import '../sass/variables.scss';

.WsStatusPanel {
  padding: 0.2rem 0.5rem;
  display: inline-flex;
  cursor: default;
  align-items: center;
  border: 1px solid $gray-700;
  border-radius: $input-border-radius-lg;
}
.WsStatusPanel > div {
  margin-right: 0.5rem;
  width: 0.5 * $spacer;
  height: 0.5 * $spacer;
  border-radius: 50%;
}
.WsStatusPanel.connected > div {
  background-color: $green;
}
.WsStatusPanel.disconnected > div {
  background-color: $red;
}
.WsStatusPanel > span {
  color: $light;
  font-size: 0.8 * $font-size-sm;
  text-transform: uppercase;
}
