@import '../sass/variables.scss';

.BrandNavbar {
  background-color: tint-color($body-bg, 2%);
  border-bottom: 1px solid $gray-800;

  .links a {
    color: $body-color;
    font-weight: 600;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: $brand-orange;
    }
  }
}
