# Don't ever lint node_modules
node_modules

# Don't lint build output (make sure it's set to your correct build folder name)
dist

# Don't lint nyc coverage output
coverage

# Don't lint cdk.out
cdk.out

# Don't lint build outputs in test
/packages/cli/test/*/.build/**
/packages/cli/test/*/cdk.out/**

# Don't lint templates
/packages/create-sst/templates/**

# Don't lint browser console
/packages/cli/assets/console/**

# Don't lint eslint tests that need to fail
/packages/cli/test/eslint-cdk-js/**
/packages/cli/test/eslint-cdk-ts/**
/packages/cli/test/eslint-lambda-js/**
/packages/cli/test/eslint-lambda-ts/**
/packages/cli/test/eslint-disabled-js/**
/packages/cli/test/eslint-disabled-ts/**
/packages/cli/test/eslint-ignore-rule-js/**
/packages/cli/test/eslint-ignore-rule-ts/**
/packages/cli/test/eslint-ignore-patterns/**
/packages/cli/test/eslint-lambda-override-eslintrc/**
/packages/cli/test/lambda-override-tsconfig/**
/packages/cli/test/start/src/**
/packages/cli/test/playground/src/sites/**

# Docs build files
/www/build/**

# Example React apps
/examples/**/frontend/
/examples/**

# Ignore presets
/packages/create-sst/**
