# Ignore CDK outputs
cdk.out
# Ignore SST outputs
.build
# Ignore package lockfile
package-lock.json
# Ignore templates
/packages/create-serverless-stack/templates/**
# Ignore markdown files in the docs
# it breaks the formatting
/www/docs/**/*.md
# Ignore React outputs
/examples/**/build/**/*.*
/www/.docusaurus/**/*.*
/www/build/*.*
# Ignore Next.js outputs
/examples/**/.next/**/*.*
dist
build
pnpm-lock.yaml
