.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.article {
  padding: 1rem;
  border-bottom: 1px solid var(--color-divider);
}

.title {
  font-size: 1.5rem;
  display: inline-block;
}

.url {
  color: var(--text-dimmed);
}