# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# typedoc output
common-errors-doc.json
components-doc.json
examples-doc.json
cli-doc.json
sdk-doc.json

# generated docs
src/content/docs/docs/common-errors.mdx
src/content/docs/docs/component/
src/content/docs/docs/reference/
!src/content/docs/docs/reference/sdk.mdx
