<a class="links" href="/docs/">Docs</a>
<a class="links" target="_blank" href="https://guide.sst.dev">Guide</a>
<a class="links" target="_blank" href="https://console.sst.dev">Console</a>
<a class="links" href="/docs/examples/">Examples</a>

<style>
  a.links {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--sl-text-sm);
    color: var(--color-text);
    line-height: normal;
  }
  a.links:hover {
    color: var(--sl-color-text-accent);
  }
</style>
