---
import type { Props } from '@astrojs/starlight/props';

import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";

import HeaderLinks from "./HeaderLinks.astro";
---

<div class="mobile-nav-links">
  <HeaderLinks {...Astro.props} />
</div>
<div class="mobile-preferences sl-flex">
  <div class="sl-flex social-icons">
    <SocialIcons {...Astro.props} />
  </div>
  <!--
  <ThemeSelect {...Astro.props} />
  -->
</div>

<style>
  .mobile-nav-links {
    border-top: 1px solid var(--sl-color-hairline);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1.125rem;
  }
  .mobile-preferences {
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid var(--sl-color-hairline);
    column-gap: 1rem;
  }
  .social-icons {
    margin-inline-end: auto;
    gap: 1rem;
    align-items: center;
    padding-block: 1.5rem;
  }
  .social-icons:empty {
    display: none;
  }
</style>

