/**
 * Start Options
 */
.startPanels {
  margin-top: calc(1.5 * var(--ifm-leading));
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .startPanels {
    display: block;
  }
}
.startPanel {
  padding: 15px;
  flex: 1 1 280px;
  height: 130px;
  border-radius: 8px;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  /* box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.1),
    0 2px 4px 0px rgba(0, 0, 0, 0.06); */
  transition: box-shadow ease-in-out 0.15s, transform ease-in-out 0.15s;
}
.startPanel:hover {
  text-decoration: none;
  transform: translateY(-1px);
  box-shadow: 0 10px 15px -2px rgba(0, 0, 0, 0.15),
    0 4px 6px -1px rgba(0, 0, 0, 0.08);
}
.startPanel:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.1),
    0 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.startPanelDocs {
  composes: startPanel;
  margin-right: 15px;
  background-image: linear-gradient(
    to right,
    rgb(59, 130, 246, 0.8),
    rgb(37, 99, 235, 0.8)
  );
}
.startPanelExamples {
  composes: startPanel;
  margin-right: 15px;
  background-image: linear-gradient(
    to right,
    rgb(251, 146, 60, 0.8),
    rgb(251, 113, 133, 0.8)
  );
}
.startPanelGuide {
  composes: startPanel;
  background-image: linear-gradient(
    to right,
    rgb(34, 197, 94, 0.8),
    rgb(21, 128, 61, 0.8)
  );
}
@media only screen and (max-width: 480px) {
  .startPanel {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
.startPanelIcon {
  position: absolute;
  top: 50%;
  left: -13px;
  width: 72px;
  height: 72px;
  margin-top: -36px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}
.startPanelIcon > i {
  color: white;
  opacity: 0.95;
  font-size: 32px;
  line-height: 72px;
}
.startPanelContent {
  margin-left: 55px;
  color: white;
}
.startPanelContent > h4 {
  margin-bottom: 4px;
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  /* text-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.06); */
}
.startPanelContent > p {
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 0.875rem;
  /* text-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.06); */
}

/**
 * Community
 */
.communityPanels {
  margin: -15px -15px 5px;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 480px) {
  .communityPanels {
    margin: 0;
    display: block;
  }
}
.communityPanel {
  padding: 15px;
  flex: 0 0 50%;
  display: flex;
  align-items: flex-start;
  transition: transform ease-in-out 0.15s;
}
@media only screen and (max-width: 480px) {
  .communityPanel {
    padding: 0;
    margin-bottom: 20px;
  }
}
.communityPanel:hover {
  text-decoration: none;
  transform: translateX(2px);
}
.communityPanelIcon {
  flex: 0 0 auto;
  border-radius: 12px;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid transparent;
}
.communityPanelIconGitHub {
  composes: communityPanelIcon;
  background-color: #171515;
  border-color: rgba(255, 255, 255, 0.5);
}
.communityPanelIconDiscord {
  composes: communityPanelIcon;
  background-color: #5865f2;
}
.communityPanelIconTwitter {
  composes: communityPanelIcon;
  background-color: #1da1f2;
}
.communityPanelIconYouTube {
  composes: communityPanelIcon;
  background-color: #FF0000;
}
.communityPanelIcon > i {
  line-height: 48px;
  font-size: 25px;
  color: white;
  opacity: 0.95;
}
.communityPanelIconDiscourse > i {
  color: black;
  opacity: 0.7;
}
.communityPanelContent {
  margin-left: 15px;
}
.communityPanelContent > h4 {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
}
.communityPanelContent > p {
  margin: 0;
  color: var(--custom-font-color-secondary);
}
