/* Box für Category Page */
:root {
    --md-admonition-icon--category: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M192 32c0 17.7 14.3 32 32 32 123.7 0 224 100.3 224 224 0 17.7 14.3 32 32 32s32-14.3 32-32C512 128.9 383.1 0 224 0c-17.7 0-32 14.3-32 32zm0 96c0 17.7 14.3 32 32 32 70.7 0 128 57.3 128 128 0 17.7 14.3 32 32 32s32-14.3 32-32c0-106-86-192-192-192-17.7 0-32 14.3-32 32zm-96 16c0-26.5-21.5-48-48-48S0 117.5 0 144v224c0 79.5 64.5 144 144 144s144-64.5 144-144-64.5-144-144-144h-16v96h16c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48V144z"/></svg>')
  }
  .md-typeset .admonition.category,
  .md-typeset details.category {
    border-color: rgb(158, 158, 158);
    /* background-color: #ffec8b;  */
    /* background-image: linear-gradient(white, #000000); */
    /* background-image: url("/assets/images-landingpage/annie-spratt-6a3nqQ1YwBw-unsplash.jpg"); */
    background-position: center;
    background-size: cover;
    font-size: 1.20em;
    font-weight: bold;
    /* unvisited link */
    a:link {
      color: rgb(55, 207, 83);
    }
    /* visited link */
    a:visited {
      color: green;
    }
    /* mouse over link */
    a:hover {
      color: hotpink;
    }
    /* selected link */
    a:active {
      color: hotpink;
    }
  }
    .md-typeset .category > .admonition-title,
    .md-typeset .category > summary {
    background-color: rgba(92,92,92);
    color: #ffffff;
  }
  .md-typeset .category > .admonition-title::before,
  .md-typeset .category > summary::before {
    background-color: hotpink;
    -webkit-mask-image: var(--md-admonition-icon--category);
            mask-image: var(--md-admonition-icon--category);
  }
  /* Box für Category Page */
  