/* Box Link */
:root {
    --md-admonition-icon--link: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 0 9.798 1.266l-6 3.468L1.596 6v12l2.202 1.266 6.055 3.468L12.055 24l2.202-1.266 5.945-3.468L22.404 18V6l-2.202-1.266-6-3.468zM6 15.468V8.532l6-3.468 6 3.468v6.936l-6 3.468z"/></svg>')
  }
  .md-typeset .admonition.link,
  .md-typeset details.link {
    border-color: #44ADFF;
  }
  .md-typeset .link > .admonition-title,
  .md-typeset .link > summary {
    background-color: #B5DDFF;
  }
  .md-typeset .link > .admonition-title::before,
  .md-typeset .link > summary::before {
    background-color: #0B3049;
    -webkit-mask-image: var(--md-admonition-icon--link);
            mask-image: var(--md-admonition-icon--link);
  }
  /* Box Link */