/* Box Codeberg */
:root {
    --md-admonition-icon--codeberg: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.955.49A12 12 0 0 0 0 12.49a12 12 0 0 0 1.832 6.373L11.838 5.928a.187.14 0 0 1 .324 0l10.006 12.935A12 12 0 0 0 24 12.49a12 12 0 0 0-12-12 12 12 0 0 0-.045 0zm.375 6.467 4.416 16.553a12 12 0 0 0 5.137-4.213z"/></svg>')
  }
  .md-typeset .admonition.codeberg,
  .md-typeset details.codeberg {
    border-color: #44ADFF;
  }
  .md-typeset .codeberg > .admonition-title,
  .md-typeset .codeberg > summary {
    background-color: #B5DDFF;
  }
  .md-typeset .codeberg > .admonition-title::before,
  .md-typeset .codeberg > summary::before {
    background-color: #0B3049;
    -webkit-mask-image: var(--md-admonition-icon--codeberg);
            mask-image: var(--md-admonition-icon--codeberg);
  }
  /* Box Codeberg */