/* Box Achtung */
:root {
    --md-admonition-icon--achtung: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64v256c0 17.7 14.3 32 32 32s32-14.3 32-32V64zM32 480a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"/></svg>')
  }
  .md-typeset .admonition.achtung,
  .md-typeset details.achtung {
    border-color: red;
    font-size: 1.10em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    /* unvisited link */
    a:link {
      color: red;
    }
    /* visited link */
    a:visited {
      color: green;
    }
    /* mouse over link */
    a:hover {
      color: hotpink;
    }
    /* selected link */
    a:active {
      color: blue;
    }
  }
  .md-typeset .achtung > .admonition-title,
  .md-typeset .achtung > summary {
    background-color: #ff6767;
  }
  .md-typeset .achtung > .admonition-title::before,
  .md-typeset .achtung > summary::before {
    background-color: red;
    -webkit-mask-image: var(--md-admonition-icon--achtung);
            mask-image: var(--md-admonition-icon--achtung);
  }
  /* Box Achtung */