/* Box Navigationsbox */
/* Used for navigation manual - keyboard shortcuts */
:root {
    --md-admonition-icon--navigation: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>')
  }
  .md-typeset .admonition.navigation,
  .md-typeset details.navigation {
    border-color: #44ADFF;
  }
  .md-typeset .navigation > .admonition-title,
  .md-typeset .navigation > summary {
    background-color: #B5DDFF;
  }
  .md-typeset .navigation > .admonition-title::before,
  .md-typeset .navigation > summary::before {
    background-color: #0B3049;
    -webkit-mask-image: var(--md-admonition-icon--navigation);
            mask-image: var(--md-admonition-icon--navigation);
  }
  /* Box Navigationsbox */