/*-- Donation Button PayPal --*/
.paypal-button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #1875ff;
  color: white;
  text-align: center;
  font-size: 14px;
  box-shadow: 0px 14px 56px -11px #1875ff;
  width: 12em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}
    
.paypal-button  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
    
.paypal-button span:after {
  content: 'Spende';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}
    
.paypal-button:hover span {
  padding-right: 3.55em;
}
    
.paypal-button:hover span:after {
  opacity: 4;
  right: 0;
}
/*-- Donation Button PayPal --*/


/*-- Donation Button Liberapay --*/
.liberapay-button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #bc9c2b;
  color: white;
  text-align: center;
  font-size: 14px;
  box-shadow: 0px 14px 56px -11px #bc9c2b;
  width: 12em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.liberapay-button  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.liberapay-button span:after {
  content: 'Spende';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.liberapay-button:hover span {
  padding-right: 3.55em;
}

.liberapay-button:hover span:after {
  opacity: 4;
  right: 0;
}
/*-- Donation Button Liberapay --*/


/*-- Donation Button Bitcoin --*/
.bitcoin-button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #d06d35;
  color: white;
  text-align: center;
  font-size: 14px;
  box-shadow: 0px 14px 56px -11px #d06d35;
  width: 12em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.bitcoin-button  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.bitcoin-button span:after {
  content: 'Spende';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.bitcoin-button:hover span {
  padding-right: 3.55em;
}

.bitcoin-button:hover span:after {
  opacity: 4;
  right: 0;
}
/*-- Donation Button Bitcoin --*/