/* Global Settings */
/* body {
/*}
/* Global Settings */

/* Tabelle */
th{
  background-color: rgba(92,92,92);
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.20em;
  font-weight: bold;
 }
td {
 /* background-color: #ffec8b; */ 
  /* background-image: url("/assets/images-landingpage/annie-spratt-6a3nqQ1YwBw-unsplash.jpg"); */
  background-position: center;
  background-size: cover;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.10em;
  font-weight: bold;
}
/* Tabelle */



/*-- Download Button --*/
.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #1875ff;
  color: white;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #1875ff;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: ' for free';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 3.55em;
}

.button:hover span:after {
  opacity: 4;
  right: 0;
}
/*-- Download Button --*/


