@import '~bootstrap/scss/functions';
@import './variables.scss';

.App {
  display:flex;
  flex-direction:column;
  height: 100vh;
}
.App > nav {
  flex: 0 0 auto;
}
.App > .panels {
  flex: 1;
  min-height: 0;
  display: flex;
  align-items: stretch;
  overflow: hidden;

  & > div {
    flex: 1;
    min-width: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    &:first-child {
      background-color: tint-color($brand-black, 2%);
    }
  }
}
