@import './variables.scss';

/**
 * Override default variables before the import
 */
$body-bg: $brand-black;
$body-color: $brand-white;

$white: $brand-white;
$black: $brand-black;

$light: $gray-500;
$primary: $blue-400;

$input-btn-border-width: 2px;

$border-radius:     .05rem;
$border-radius-sm:  .1rem;
$border-radius-lg:  .15rem;

$font-family-sans-serif: "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';
