$brand-white:   #FFFBF9;
$brand-gray:    #F4ECE8;
$brand-orange:  #E27152;
$brand-blue:    #395C6B;
$brand-black:   #0A1113;

$white:    $brand-white;
$gray-100: #F8F5F3;
$gray-200: #E9E6E4;
$gray-300: #DEDBDA;
$gray-400: #CECCCB;
$gray-500: #ADADAD;
$gray-600: #6C6F70;
$gray-700: #494D4F;
$gray-800: #34393B;
$gray-900: #212628;
$black:    $brand-black;

$orange:  $brand-orange;

$orange-100: #F9E3DC;
$orange-200: #F3C6BA;
$orange-300: #EEAA97;
$orange-400: #E88D75;
$orange-500: #E27152;
$orange-600: #B55A42;
$orange-700: #884431;
$orange-800: #5A2D21;
$orange-900: #2D1710;

$blue: #415BA6;

$blue-100: #D9DEED;
$blue-200: #B3BDDB;
$blue-300: #8D9DCA;
$blue-400: #7A8CC1;
$blue-500: #546BAF;
$blue-600: $blue;
$blue-700: #344985;
$blue-800: #212E53;
$blue-900: #131B32;

$red: #DE4549;

$red-100: #F8DADB;
$red-200: #F2B5B6;
$red-300: #EB8F92;
$red-400: #E56A6D;
$red-500: $red;
$red-600: #B2373A;
$red-700: #85292C;
$red-800: #591C1D;
$red-900: #2C0E0F;
